*{
    margin:0;
    padding:0;
}


.cool{
    background-color:purple;
    color:white;
    padding:15px;
    font-size:20px;
    text-align:center;
    font-weight:bold;

}


.card{
    background-color:#ffda77;
    box-shadow: 2px, 4px, 4px, gray;
    margin:10px;
    padding:10px;
    border-radius: 5px;
    width:390px;
    display:inline-block;


}

.cardTitle{
    text-align: center;
    margin-bottom: 5px;


}

.cardDesc{
    text-align: justify;
    margin-bottom: 5px;
    color:red;
    
}
.cardFooter{
    text-align: center;
    font-weight: bold;
    
}